@font-face {
  font-family: 'Cardo';
  src: local('Cardo'), 
  url('./fonts/cardo/Cardo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif';
  src: local('Noto Serif'), 
  url('./fonts/noto-serif/NotoSerif-Regular.ttf') format('truetype');
}